<h2>New Books</h2>
<form action="/books" method="POST" enctype="multipart/form-data">
  <%- include('_forms_fields.ejs') %>
    <a href="/books">cancel</a>
    <button type="submit">Create</button>
</form>