<header>
    <nav>
        <a href="/" style="font-size: large ; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
        text-decoration: black;
        color: black;" >MyLibrary</a>
        <ul>
            <li>
                <a href="/authors">Authors</a>
            </li>
            <li> <a href="/authors/new">Add Authors</a>
            </li>
        </ul>
    </nav>
</header>