<h2 class="page-header">Edit Author</h2>

<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_forms_fields.ejs') %>
        <br />
        <br />
        <a class="btn btn-primary" href="/authors/<%= author.id %> ">Cancel</a>
        <button class="btn btn-primary" type="submit">Update</button>
</form>